.footer{
    padding-block: 50px;
    padding-bottom: 25px;
    background-color: black;
    color: bisque;
}

.footer__container{
    max-width: 1160px;
    margin: auto;
    padding: 0 15px;
}

.footer__top{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
}

.footer__title{
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer__list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__list-link:hover {
    color: #fff;
}

.footer__divider{
    margin-block: 25px;
    border: none;
    border-top: 1px solid rgba(252, 255, 255, 0.1);
}

.footer_bootom{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;   
}

.footer__list-bottom{
    flex-direction: row;
}