@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500;1,600&display=swap');

body{
    background-color: #f6f7fb;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #2d2d2d;
    background-image: ('sate.jpg');
}

.form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 150px;
    box-shadow: 3px 3px 10px 0px #000;
    border-radius: 15px;
    width: 470px;
    height: 500px;
}

.text-center{
    width: 200%;
}

